In [6]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
df = pd.read_csv('yellow_tripdata_2021-01.csv')

C:\Users\ctozzi\AppData\Local\Temp\ipykernel_4048\2722673778.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('yellow_tripdata_2021-01.csv')

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [7]:
from sqlalchemy import create_engine

In [17]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [18]:
engine.connect()

In [19]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" REAL,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [20]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [21]:
df = next(df_iter)

In [22]:
len(df)

100000

In [34]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

1000

In [35]:
from time import time

In [37]:
while True:
    t_start = time()
    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk..., took %.3f seconds' % (t_end - t_start))

inserted another chunk..., took 12.700 seconds
inserted another chunk..., took 12.245 seconds
inserted another chunk..., took 12.604 seconds
inserted another chunk..., took 12.757 seconds
inserted another chunk..., took 14.855 seconds
inserted another chunk..., took 11.807 seconds
inserted another chunk..., took 12.097 seconds
inserted another chunk..., took 12.063 seconds
inserted another chunk..., took 12.643 seconds
inserted another chunk..., took 14.486 seconds
inserted another chunk..., took 11.809 seconds

C:\Users\ctozzi\AppData\Local\Temp\ipykernel_4080\3934954913.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 12.089 seconds
inserted another chunk..., took 9.515 seconds

StopIteration:

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
df = pd.read_csv('https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv')

In [9]:
df.to_sql(name='zones', con=engine, if_exists='replace')

265